@tailwind base;
@tailwind components;
@tailwind utilities;
.botonSobreNosotros{
        border-radius: 10px;
        border: 2px solid #C312C2;
    }
.nav{
        z-index: 1000!important;
}
.caja{
        z-index: 10;
}
.titulo{
        text-shadow: -4px -2px #000;
}
.menu{
        display: fixed;
        top: 0;
}
@media (max-width: 649px){
        .fondoAnimado {
                color: #1C4ED8 !important;
        
               
           background-color: #000;
                position: relative;
              }
              .fondoAnimado:before {
                content:"";
                position: absolute;
                top: -60px;
                left: 0px;
                width: 0px;
                height: 100%;
                background:#1C4ED8;
                height: 100%;
        
               
                transition: all .5s ease-in-out;
              }
              .fondoAnimado:hover:before {
                position: absolute;
                top: -60px;
              width: 100%;
              padding: 50px 0px;
              
              }

        .tituloContacto{
                display: none;
        }
        .formularioContacto{
                display: flex;
                flex-direction: column;
                width: 90%;
                margin: 120px auto;
        }
        
        .waveDesktop{
                display: none;
        }
        .fraseDesktop{
                display: none;
        }
        .carruselClientes{
                display: none;
        }
        .footer{
                display: none;
        }
        .carruselTop{
                display: none;
        }
        .card{
                min-width: 360px;
                max-width: 400px;
            
        }
        .cajaIconos{
                margin-top: 60px;
        }
        .linkMenu{
                font-size: 60px;
        }
        .botonNav{
                display: none;
        }
        .contactoNav{
                display: none;
        }
        @keyframes cambiar {
	
                0%{ margin-top: 0;}
                20%{ margin-top: 0;}
                
                25% {margin-top: -420px;}
                50% {margin-top: -420px;}
                
                55% {margin-top: -800px;}
                95% {margin-top: -800px;}
                
                
                100% {margin-top: 0;}
        }
        .contenedor {
	
                display: flex;
                width: 100%;
                height: 405px;
                z-index: 10;
                font-size: 40px;
                line-height: 0.95;
                letter-spacing: -0.5px;
                position: relative;
                top: -100px;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                overflow: hidden;
                
        }
        .textoAnimado li{
                font-size: 45px;
                color:#fff;
        }
        .textoAnimado span{
                color: #1C4ED8;
        }
    .logoNav{
        width: 60px;
        height: auto;
    }
    .cajaCard{
        display: flex;
        justify-content: left;
        overflow-x: scroll;
        padding-left: 50px;
    }
    .card{
        min-width: 270px;
        max-width: 270px;
    }
    .portadaDesktop{
        display: none;
    }
    .portadaCelular{
        position: fixed;
        top: 0;
    }
   
    .wave{
        margin-top: 105px;
    }
   
    .titulo{
        font-size: 50px;
        margin: 0 20px;
    }
  
    .primera, .segunda, .tercera{
        font-size: 40px;
        
    }
  
.serviciosHome{
        position: relative;
        top: -20px;
}
.cajita{
        position: relative;
       
}
.iconoScroll{
        position: relative;
        top: 150px;
}

.textoAnimado {
	list-style: none;
	padding-left: 10px;
	animation: cambiar 9s infinite;
}

.textoAnimado, p {
	margin: 0;
}


   
}
@media (min-width: 650px){
        .fondoAnimado {
                color: #1C4ED8 !important;
        
               
           background-color: #000;
                position: relative;
              }
              .fondoAnimado:before {
                content:"";
                position: absolute;
                top: -60px;
                left: 0px;
                width: 0px;
                height: 100%;
                background:#1C4ED8;
                height: 100vh;
        
               
                transition: all .5s ease-in-out;
              }
              .fondoAnimado:hover:before {
                position: absolute;
                top: -60px;
              width: 100%;
              padding: 50px 0px;
              
              }
        .waveMobile{
                display: none;
        }
        .fraseMobile{
                display: none;
        }
        .carruselBottom{
                display: none;
        }
        .cajaIconos{
                margin-top: 100px;
        }
        .botonAbrirMenu{
                display: none;
        }
    .logoNav{
        width: 60px;
        height: auto;
    }
    .portadaCelular{
        display: none;
    }
    .botonMenu{
        display: none;
    }
    .cajaTitulo{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;

    }
    .portadaDesktop{
        position: fixed;
        top: 0;
        width: 100%;
        
    }
    
    .contenedor {
	
	display: flex;
	width: 100%;
	height: 505px;
	z-index: 10;
	font-size: 40px;
	line-height: 80px;
	
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: hidden;
	
}

.textoAnimado {
	list-style: none;
	padding-left: 10px;
	animation: cambiar 10s infinite ;
       
}

.textoAnimado li {
	margin: 0;
        color: #fff;
        
}

@keyframes cambiar {
	
	0%{ margin-top: 0;}
	20%{ margin-top: 0;}
	
	25% {margin-top: -370px;}
	50% {margin-top: -370px;}
	
	55% {margin-top: -800px;}
        95% {margin-top: -800px;}
	
	
	100% {margin-top: 0;}
}
}
.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  


.shake-vertical {
	-webkit-animation: shake-vertical 1.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite backwards;
	        animation: shake-vertical 1.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite backwards;
}
 @-webkit-keyframes shake-vertical {
        0%,
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        10%,
        30%,
        50%,
        70% {
          -webkit-transform: translateY(-8px);
                  transform: translateY(-8px);
        }
        20%,
        40%,
        60% {
          -webkit-transform: translateY(8px);
                  transform: translateY(8px);
        }
        80% {
          -webkit-transform: translateY(6.4px);
                  transform: translateY(6.4px);
        }
        90% {
          -webkit-transform: translateY(-6.4px);
                  transform: translateY(-6.4px);
        }
      }
      @keyframes shake-vertical {
        0%,
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        10%,
        30%,
        50%,
        70% {
          -webkit-transform: translateY(-8px);
                  transform: translateY(-8px);
        }
        20%,
        40%,
        60% {
          -webkit-transform: translateY(8px);
                  transform: translateY(8px);
        }
        80% {
          -webkit-transform: translateY(6.4px);
                  transform: translateY(6.4px);
        }
        90% {
          -webkit-transform: translateY(-6.4px);
                  transform: translateY(-6.4px);
        }
      }
      
  
  .hvr-sweep-to-right {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
      }
      .hvr-sweep-to-right:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #1C4ED8;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
      }
     
      .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
       color: #000;
       transition-duration: 1s;
      }
      .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
 
      /*efecto para menu*/
      .hvr-shutter-in-vertical {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        background-color: #1C4ED8;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
      }
      .hvr-shutter-in-vertical:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
     
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      .hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
              background-color: #000;
             
        }
        .hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
                background-color:#1C4ED8;
               
      }
      
      /*efecto para servicios*/
         .hvr-shutter-in-vertical2 {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        background-color: transparent;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
        top: -70px;
        bottom: -100px;
        height: calc(100vh + 70px);
      }
      .hvr-shutter-in-vertical2:before {
        content: "";
        position: absolute;
        z-index: 200;
        top: -200px;

        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
     
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      .hvr-shutter-in-vertical2:hover, .hvr-shutter-in-vertical2:focus, .hvr-shutter-in-vertical2:active {
              background-color: transparent;

             
        }
        .hvr-shutter-in-vertical2:hover:before, .hvr-shutter-in-vertical2:focus:before, .hvr-shutter-in-vertical2:active:before {
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
                background-color:#1C4ED8;
               
      }

       /*pruebas*/
       .bg-7 {
        position: relative;
      }
      
      .bg-7::after {
          content: "";
          font-size: 10rem;
          color: transparent;
          letter-spacing: 0px;
          background-size: 150%;
          background: transparent;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -moz-text-stroke-width: 0;
          -webkit-text-stroke-width: 0;
          position: absolute;
          text-align: center;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: -1;
          -webkit-animation: pulse-delay 1.5s linear 1.5s infinite alternate;
          animation: pulse-delay 1.5s linear 1.5s infinite alternate;
      }
      
      @keyframes pulse-delay {
        0% {
                -webkit-transition-property: color;
                transition-property: color;
                -webkit-transition-duration: 1s;
                transition-duration: 1s;
                background: #fff;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transform-origin: 0 0%;
                transform-origin: 0 0%;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-duration: 1s;
                transition-duration: 1s;
                -webkit-transition-timing-function:linear;
                transition-timing-function:linear;
      }
      25% {
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        background: #fff;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
        -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function:linear;
        transition-timing-function:linear;
     
}
  
        50%{
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        background: #fff;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0 0%;
        transform-origin: 0 0%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function:linear;
        transition-timing-function:linear;
        
      }

      75% {
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        background: transparent;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin:  100% 0; 
        transform-origin:  100% 0;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function:linear;
        transition-timing-function:linear;
      }
  
      80% {
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        background: transparent;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function:linear;
        transition-timing-function:linear;
}
90% {
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        background: transparent;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function:linear;
        transition-timing-function:linear;
      }
      100% {
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        background: transparent;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0% 0;
        transform-origin: 0% 0;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function:linear;
        transition-timing-function:linear;
      }
      }
      .formatearTexto{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    
      }
      .boton {
        color: #1C4ED8 !important;

       
   background-color: #fff;
        position: relative;
      }
      .boton:before {
        content:"";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0px;
        height: 100%;
        border-radius: 24px;
        background: #000;

        transition: all .5s ease-in-out;
      }
      .boton:hover:before {
      width: 100%;
      color: #fff!important;
      padding: 5px ;
     
      }

      
      .fondoAnimado2 {

       
        background:#000;
        position: relative;
        top: 0px;
        height: 100vh;
      }
      .fondoAnimado2:before {
        content:"";
        position: absolute;
        top: -60px;
        left: 0px;
        width: 0px;
        height: 100%;
        background:#1C4ED8;
        height: 100vh;

       
        transition: all 1s ease-in-out;
      }
      .fondoAnimado2:hover:before {
        position: absolute;
        top: -60px;
      width: 100%;
    background-color: transparent;
      padding: 50px 0px;
      
      }

      .swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 0.6s ease-out both ;
	        animation: swirl-in-fwd 0.6s ease-out both ;
}
@-webkit-keyframes swirl-in-fwd {
        0% {
          -webkit-transform: rotate(-540deg) scale(0);
                  transform: rotate(-540deg) scale(0);
          opacity: 0;
        }
        100% {
          -webkit-transform: rotate(0) scale(1);
                  transform: rotate(0) scale(1);
          opacity: 1;
        }
      }
      @keyframes swirl-in-fwd {
        0% {
          -webkit-transform: rotate(-540deg) scale(0);
                  transform: rotate(-540deg) scale(0);
          opacity: 0;
        }
        100% {
          -webkit-transform: rotate(0) scale(1);
          transform: rotate(0) scale(1);
          opacity: 1;
        }
      }


      .scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-center {
        0% {
          -webkit-transform: scale(0);
                  transform: scale(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          opacity: 1;
        }
      }
      @keyframes scale-in-center {
        0% {
          -webkit-transform: scale(0);
                  transform: scale(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          opacity: 1;
        }
      }
      .fondoAnimado3 {
        color: #fff !important;

       
   background-color: transparent;
        position: relative;
      }
      .fondoAnimado3:before {
        content:"";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0px;
        height: 100%;
        background:#000;
        height: 100vh;

       
        transition: all .5s ease-in-out;
      }
      .fondoAnimado3:hover:before {
        position: absolute;
        top: 0px;
        width: 100%;
      padding: 50px 0px;
      border-radius:0px 200px 200px 0px;
      
      }
      .fondoAnimado4 {
    

       
   background-color: #fff;
        position: relative;
      }
      .fondoAnimado4:before {
        content:"";
        position: absolute;
        top: 0px;
        left: 0px;
      
        width: 100%;
        height: 100%;
        background:#000;
        height: 100vh;

       
        transition: all .5s ease-in-out;
      }
      .fondoAnimado4:hover:before {
        position: absolute;
        top: 0px;
        width: 0%;
      padding: 50px 0px;
      border-radius: 100px 0px 0px 100px ;
      
      }

      @keyframes animate {
        0%{
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }
        100%{
            transform: translateY(-1000px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
        }
    }
    
    .background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background: #000000;
        overflow: hidden;
    }
    .background li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 19s linear infinite;
    }
    
    
    
    
    .background li:nth-child(0) {
        left: 61%;
        width: 226px;
        height: 226px;
        bottom: -226px;
        animation-delay: 1s;
    }
    .background li:nth-child(1) {
        left: 43%;
        width: 153px;
        height: 153px;
        bottom: -153px;
        animation-delay: 2s;
    }
    .background li:nth-child(2) {
        left: 26%;
        width: 105px;
        height: 105px;
        bottom: -105px;
        animation-delay: 4s;
    }
    .background li:nth-child(3) {
        left: 45%;
        width: 313px;
        height: 313px;
        bottom: -313px;
        animation-delay: 7s;
    }
    .background li:nth-child(4) {
        left: 52%;
        width: 106px;
        height: 106px;
        bottom: -106px;
        animation-delay: 3s;
    }
    .background li:nth-child(5) {
        left: 73%;
        width: 270px;
        height: 270px;
        bottom: -270px;
        animation-delay: 17s;
    }
    .background li:nth-child(6) {
        left: 25%;
        width: 170px;
        height: 170px;
        bottom: -170px;
        animation-delay: 13s;
    }
    .background li:nth-child(7) {
        left: 12%;
        width: 296px;
        height: 296px;
        bottom: -296px;
        animation-delay: 15s;
    }
    .background li:nth-child(8) {
        left: 22%;
        width: 117px;
        height: 117px;
        bottom: -117px;
        animation-delay: 34s;
    }
    .background li:nth-child(9) {
        left: 70%;
        width: 132px;
        height: 132px;
        bottom: -132px;
        animation-delay: 39s;
    }
    .background li:nth-child(10) {
        left: 1%;
        width: 123px;
        height: 123px;
        bottom: -123px;
        animation-delay: 28s;
    }